.lq-help-dialog h1,
.lq-help-dialog h2 {
  margin-top: 0;
}

.lq-help-dialog .float-right {
  float: right;
  margin-left: 20px;
}

.lq-help-dialog .float-left {
  float: left;
  margin-right: 20px;
}

.lq-help-dialog .margin-top {
  margin-top: 7px;
}

.lq-help-dialog .margin-bottom {
  margin-bottom: 7px;
}

.lq-help-dialog .hint {
  background-color: var(--primary-color);
}

.lq-help-dialog .big {
  font-size: 18px;
}

.lq-help-dialog .large {
  font-size: 48px;
}

.lq-help-dialog.page-7 {
  background-color: #f7fcff;
}

.lq-help-dialog.page-7 #help-info {
  width: 330px;
  margin-top: -10px;
  margin-left: auto;
  display: none;
}

.lq-help-dialog.page-7.first-login #help-info {
  display: block;
}
